<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Machine learning demo</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <section>
      <h1>Machine learning example</h1>
      <div data-list="comments"></div>
      <div>
        <div><textarea data-input="comment-form" ></textarea></div>
        <div><button data-button="send-button">Send</Button></div>
      </div>
    </section>
    <script src="/cdn/lib/bayes.js" charset="utf-8"></script>
    <script src="./app.js" charset="utf-8"></script>
  </body>
</html>
